@*@{
        ViewBag.Title = "Home Page";
    }

    <main>
        <section class="row" aria-labelledby="aspnetTitle">
            <h1 id="title">ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
        </section>

        <div class="row">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <h2 id="gettingStartedTitle">Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="librariesTitle">
                <h2 id="librariesTitle">Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="hostingTitle">
                <h2 id="hostingTitle">Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </section>
        </div>
    </main>*@


@model IEnumerable<GSI_M6_P1_18.Models.GuestBookModel>
<div class="row mt-3">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <button class="btn btn-info text-light" value="" onclick="aksi(this.value,'tambah')" data-bs-toggle="modal" data-bs-target="#exampleModal">Tambah Data GuestBook</button>
                <div class="table-responsive my-3">
                    <table id="example" class="table">
                        <thead class="thead-light">
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Nama</th>
                                <th scope="col">Alamat</th>
                                <th scope="col">Provinsi</th>
                                <th scope="col">Jenis Kelamin</th>
                                <th scope="col">Tanggal Lahir</th>
                                <th scope="col">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0; }
                            @foreach (var item in Model)
                            {
                                i++;
                                <tr>
                                    <th scope="row">@i</th>
                                    <td>@item.nama</td>
                                    <td>@item.alamat</td>
                                    <td>@item.provinsi</td>
                                    <td>@(item.jenisKelamin == 1 ? "Laki-laki" : "Perempuan")</td>
                                    <td>@item.tanggalLahir</td>
                                    <td>
                                        <button class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Edit Data" value="@item.id"
                                                onclick="aksi(this.value,'update')" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </button>
                                        <button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete Data" value="@item.id"
                                                onclick="aksi(this.value,'delete')" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Form Tambah Data GuestBook</h5> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Nama</label>
                        <input type="hidden" id="id" name="id" />
                        <input type="text" class="form-control" id="nama" name="nama" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Alamat</label> <textarea class="form-control" id="alamat" name="alamat "></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Provinsi</label> <select class="form-select" id="provinsi" name="provinsi">
                            <option selected> Pilih Provinsi</option>
                            <option value="Banten">Banten</option>
                            <option value="Jawa Barat">Jawa Barat</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Jenis Kelamin</label> <select class="form-select" id="jenisKelamin" name="jenis kelamin">
                            <option selected>Pilih Jenis Kelamin</option>
                            <option value="1">Laki-laki</option>
                            <option value="0">Perempuan</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tanggal Lahir</label> <input type="date" class="form-control" id="tanggalLahir" name="tanggallahir">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Pesan</label> <textarea class="form-control" id="pesan" name="pesan"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn_submit" value="" onclick="submit(this.value)">Insert Data</button>
            </div>
        </div>
    </div>
</div>
    <script>
        function clear() {

            document.getElementById("id").value = ""
            document.getElementById("nama").value = ""
            document.getElementById("alamat").value = ""
            document.getElementById("provinsi").selectedIndex = 0
            document.getElementById("jenisKelamin").selectedIndex = 0
            document.getElementById("tanggalLahir").value = ""
            document.getElementById("pesan").value = ""
        }
        function submit(type) {
            let id = document.getElementById("id").value
            let nama = document.getElementById("nama").value
            let alamat = document.getElementById("alamat").value
            let provinsi = document.getElementById("provinsi").value
            let jenisKelamin = document.getElementById("jenisKelamin").value
            let tanggalLahir = document.getElementById("tanggalLahir").value
            let pesan = document.getElementById("pesan").value
            let data = {}
            let method = ""
            let url = ""
            let msg = ""

            switch (type) {
                case "tambah":
                    url = window.location.origin + '/api/insertGuestBook'
                    method = "POST"
                    data = { nama: nama, alamat: alamat, provinsi: provinsi, jenisKelamin: jenisKelamin, tanggalLahir: tanggalLahir, pesan: pesan }
                    msg = "Insert Berhasil"
                    break;
                case "update":
                    url = window.location.origin + '/api/updateGuestBook'
                    method = "POST"
                    data = { id: id, nama: nama, alamat: alamat, provinsi: provinsi, jenisKelamin: jenisKelamin, tanggalLahir: tanggalLahir, pesan: pesan }
                    msg = "Update Berhasil"
                    break;
                case "delete":
                    url = window.location.origin + '/api/deleteGuestBook'
                    method = "POST"
                    data = { id: id }
                    msg = "Delete Berhasil"
                    break;
            }
            $.ajax({
                url: url,
                method: method,
                data: data,
                success: function (data) {
                    $('#exampleModal').modal('hide');
                    location.reload();
                    clear();
                    alert(msg)
                },
            });

        }

        function aksi(id, type) {
            clear()
            let btn_submit = document.getElementById("btn_submit")

            switch (type) {
                case "tambah":
                    document.getElementById("nama").disabled = false;
                    document.getElementById("alamat").disabled = false;
                    document.getElementById("provinsi").disabled = false;
                    document.getElementById("jenisKelamin").disabled = false;
                    document.getElementById("tanggalLahir").disabled = false;
                    document.getElementById("pesan").disabled = false;
                    document.getElementById("exampleModalLabel").innerHTML = "Form Insert Data GuestBook"
                    btn_submit.innerHTML = "Insert Data"
                    btn_submit.className = "btn btn-info"
                    btn_submit.value = "tambah"

                    break;
                case "update":
                    document.getElementById("nama").disabled = false;
                    document.getElementById("alamat").disabled = false;
                    document.getElementById("provinsi").disabled = false;
                    document.getElementById("jenisKelamin").disabled = false;
                    document.getElementById("tanggalLahir").disabled = false;
                    document.getElementById("pesan").disabled = false;
                    document.getElementById("exampleModalLabel").innerHTML = "Form Update Data GuestBook"
                    btn_submit.innerHTML = "Update Data"
                    btn_submit.className = "btn btn-success"
                    btn_submit.value = "update" 
                    break;
                case "delete":
                    document.getElementById("nama").disabled = true;
                    document.getElementById("alamat").disabled = true;
                    document.getElementById("provinsi").disabled = true;
                    document.getElementById("jenisKelamin").disabled = true;
                    document.getElementById("tanggalLahir").disabled = true;
                    document.getElementById("pesan").disabled = true;
                    document.getElementById("exampleModalLabel").innerHTML = "Yakin Hapus Data?"
                    btn_submit.innerHTML = "Hapus Data"
                    btn_submit.className = "btn btn-danger"
                    btn_submit.value = "delete"
                    break;
            }

            if (id != "") {
                data = { pid: id }
                $.ajax({
                    url: window.location.origin + '/api/getDataGuestBook',
                    method: "GET",
                    data: data,
                    success: function (data) {
                        document.getElementById("id").value = data.data[0].id
                        document.getElementById("nama").value = data.data[0].nama
                        document.getElementById("alamat").value = data.data[0].alamat
                        document.getElementById("provinsi").value = data.data[0].provinsi
                        document.getElementById("jenisKelamin").value = data.data[0].jenisKelamin
                        document.getElementById("tanggalLahir").value = data.data[0].tanggalLahir
                        document.getElementById("pesan").value = data.data[0].pesan
                    },
                });
            }
        }


    </script>
